@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300&display=swap');
@import "normalize.css";
body{
  margin: 0;
}
#root {
  text-align: center;
  font-family: 'Mulish',serif;
  margin: 0 auto;
}
.gridContainer{
  display: grid;
}
header{
  margin-top: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.4em 0em 1.4em;
}
.flexContainer2{
  display: flex;
  justify-content: space-between;
  text-align: left;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 1.4em;
}
.flexContainer2 article figure{
  margin: 0em 0.1em 0em 0em;
}
.flexContainer2::-webkit-scrollbar {
  display: none;
}
div p{
  color: #AAA9B1;
  display: inline-block;
}
div svg{
  padding-right: 0.4em;
}
.ratingContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}


h1, h2{
  font-family: 'Merriweather', serif;
}
h3{
  margin-bottom: 0em;
}